<form id="encrypt" action="send" method="POST">
    <label for="message">Message</label>
    <input id="message" type="text" name="message">
    <label for="key">Key</label>
    <input id="key" type="text" name="key">
    <input type="submit">
</form>