<form id="encrypt" action="message" method="POST">
    <label for="message">Message</label>
    <input class="u-full-width" id="message" type="text" name="message" required>
    <label for="key">Key</label>
    <input class="u-full-width" id="key" type="text" name="key" required>
    <label for="hint">Hint</label>
    <input class="u-full-width" id="hint" type="text" name="hint" required>
    <input class="u-full-width button-primary" type="submit">
</form>




{{!-- <a href="/messages">goto messages</a> --}}

{{!-- <button id="btn">Share</button> --}}