<form autocomplete="off" id="encrypt" action="message" method="POST">
<input autocomplete="false" name="hidden" type="text" style="display:none;">
    <label for="message">Message</label>
    <input class="u-full-width" id="message" type="text" name="message" required>
    <label for="key">Key</label>
    <input class="u-full-width" id="key" type="text" name="key" required>
    <label for="hint">Hint</label>
    <input class="u-full-width" id="hint" type="text" name="hint" required>
    <input class="u-full-width button-primary" type="submit" value="Encrypt">
</form>


<section class="info-wrap">
    <p class="info">Add a message that will be encrypted with the given key. Add a hint so the receiver can guess the
        key to decrypt the message. After is has been encrypted you can share it using whatsapp or twitter or just share
        the url.</p>
</section>

{{!-- <a href="/messages">goto messages</a> --}}

{{!-- <button id="btn">Share</button> --}}
