<ul class="scroller">
    {{#each messages}}
    <li>

        <code>
        {{this.uuid}}
    </code>
        <code>
        {{this.text}}
    </code>
        <code>
        {{this.hint}}
    </code>
        <a href="/message/{{this.uuid}}">link</a>
    </li>
    {{/each}}
</ul>