<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfHgJIUAAAAAJKv3wZr3ycXFaiTjU41zTQL3w4E"></script>
</head>

<body>
    {{{ body }}}

    <div class="g-recaptcha" data-sitekey="6LfHgJIUAAAAAJKv3wZr3ycXFaiTjU41zTQL3w4E"></div>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfHgJIUAAAAAJKv3wZr3ycXFaiTjU41zTQL3w4E', { action: 'homepage' }).then(function (token) {

            });
        });
    </script>
    <script src="/js/main.js"></script>
</body>

</html>